@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    @apply bg-gradient-to-tl from-violet-900 to-slate-900
  }
}

body {
  /* overflow-y: hidden !important; */
  overflow-x: hidden !important;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  padding: 10px 40px;
}

.pointer {
  cursor: pointer;
}

.leaderboardPg {
  /* background-color: #b394c9; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.leaderContainer {
  width: 445px;
  height: 600px;
  background-color: black;
  margin: auto;
  font-family: 'Amatic SC';
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 7px 9px 7px #00000052;
  margin-bottom: 100px;

  .leader {
    display: flex;
  }

  .crown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    svg {
      width: 3rem;
    }
  }

  .image {
    height: 58px;
    object-fit: cover;
    width: 58px;
    background-color: black;
    border-radius: 50%;
  }

  .topLeadersList {
    display: flex;
    position: relative;
    min-height: 120px;
    padding-top: 3rem;

    .image {
      border-radius: 50%;
      border: 3px solid #b159ffcc;
    }

    .leader:nth-child(1) {
      color: black;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:after {
        content: '1';
        width: 30px;
        height: 30px;
        background: #ffc500;
        border-radius: 50%;
        position: absolute;
        right: 0;
        font-family: sans-serif;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        box-shadow: 1px 1px 4px black;
      }

      .image {
        width: 130px;
        height: 130px;
      }

      .crown {
        top: -20%;

        svg {
          fill: #ffc500;
        }
      }

    }

    .leader:nth-child(2) {
      color: black;
      position: absolute;
      left: 15%;
      transform: translateX(-15%);
      bottom: -20%;

      &:after {
        content: '2';
        width: 30px;
        height: 30px;
        background: #d4d4d4;
        border-radius: 50%;
        position: absolute;
        right: 0;
        font-family: sans-serif;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        box-shadow: 1px 1px 4px black;
      }

      .image {
        width: 110px;
        height: 110px;
      }

      .crown {
        top: -25%;

        svg {
          fill: #d4d4d4;
        }
      }
    }

    .leader:nth-child(3) {
      color: black;
      position: absolute;
      left: 85%;
      transform: translateX(-85%);
      bottom: -20%;

      &:after {
        content: '3';
        width: 30px;
        height: 30px;
        background: #ab6528;
        border-radius: 50%;
        position: absolute;
        right: 0;
        font-family: sans-serif;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        box-shadow: 1px 1px 4px black;
      }

      .image {
        width: 110px;
        height: 110px;
      }

      .crown {
        top: -25%;

        svg {
          fill: #ab6528;
        }
      }
    }
  }

  .leaderName {
    position: absolute;
    text-align: center;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
  }

  .player {
    background-color: #330b7775;
    display: grid;
    grid-template-columns: 0.4fr 3fr 1fr 1fr;

    align-items: center;
    min-height: 42px;
    text-align: center;
    padding-right: 0.4rem;

    .image {
      width: 28px;
      height: 28px;
      border: 1.5px solid white;
    }
  }

  .leaderTable {
    margin-right: 0.1rem;
    display: grid;
    font-size: 14px;
    grid-template-columns: 0.4fr 3fr 1fr 1fr;
    text-align: center;

    div:nth-child(2) {
      text-align: left;
      margin-left: 5px;
    }

    .image {
      width: 20px;
      height: 20px;
    }
  }

  .playerslist {
    margin-top: 6rem;
    font-size: 16px;
    overflow: hidden;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

    .player:nth-child(odd) {
      background-color: #b159ffcc;
      align-items: center;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .list {
    overflow: scroll;
    height: 20rem;
    overflow-x: hidden;
  }
}